a:link, a:visited, a:active {
  text-decoration:none;
}

/*
////////////
BODY
////////////
*/

body{
  font-family: sans-serif;
  width: 1200px;
  margin-right: auto;
  margin-left:auto ;
}

/*
////////////
INICIO
////////////
*/

.header{
  background-color: #2E4053 ;
  padding-bottom: 60px;
  z-index: 0;
}


.barra-superior{
  display: flex;
  align-items: center;
  height: 100px;

}

.titulo-principal{
  width: 50%;
  color: #EBEDEF;
  padding-left:10% ;
}



.contenedor-menu{
  width: 50%;
  z-index: 5;
}

.menu-principal{
  display: flex;
  list-style: none;
  justify-content: space-evenly;
}

.menu-principal__item > a{
  text-decoration: none;
  color: #EBEDEF;
}

.menu-principal__item > a:hover{
  font-size: 20px;
  text-decoration: underline;
  color: #F8F9F9;

}

.banner{
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.banner__imagenfondo{
  position: absolute;
  width: 1200px;
  z-index: 1;
  opacity: 5%;

}

.banner__imagen{
  
}

.banner__titulo{
  position: absolute;
  color: #F8F9F9;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  transition: 1s;
}

.banner__titulo:focus{
  font-size: 50px; 
  color:white;
}


/*
////////////
SERVICIOS
////////////
*/

.servicios-title{
  position: absolute;
  color: #2E4053;
  margin-left: 540px;

}

.servicios-lista{
  background-color: #D6DBDF;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 40px;
  z-index: 5;
  
}

.servicios__contenedor{
  width: 250px;
  padding: 15px;

}

.imagen__servicios{
  height: 380px;
  border-radius: 25px;
  transition: 1s;
}

.imagen__servicios:hover{
  height: 430px;
  border-radius: 25px;
}

.servicios__descripcion{
  height: 30px;
}

.servicios__contenedor > a{
  text-decoration: none;
  color: #2E4053 ;
}

.servicios__contenedor > a:hover{
  font-size: 20px;
  color: #2E4053 ;
}


/*
////////////
NOTICIAS
////////////
*/
.noticias-title{
  position: absolute;
  color: orange;
  margin-left: 500px;
  z-index: 6;

}

.noticias-contenedor{
  padding-top: 80px;
  background-color: #641E16;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  color: yellow;
  line-height: 25px;
  
  
}

.noticia{
  display: flex;
  margin: 85px 50px;
  height: 300px;
  align-items: center;
  justify-content: center;

}

.noticia__img{
  position: absolute;
  height: 270px;
  z-index: 4;
  opacity: 40%;
  border-radius: 25px;
  
}


.contenido__noticia{
  margin: 25px 0px;
  width: 380px;
  border-radius: 15px;
  border: 3px solid red;
  z-index: 5;
  font-weight: 200;
  font-size: 18px;
  opacity: 0%;
  transition: 0.5s;
  
}

.contenido__noticia:hover{
  opacity: 100%;
  
}

.contenido__noticia > a{
  text-decoration: none;
  color: white ;
}

.contenido__noticia > a:hover{
  font-size: 20px;
  color:yellow ;
}

/*
////////////
TEAM
////////////
*/

.team-title{
  position: absolute;
  color: 2E4053;
  margin-left: 550px;
  z-index: 6;

}

.miembros{
  background-color: #EBEDEF;
  display: flex;
  padding-top: 80px;
  padding-bottom: 30px ;
  justify-content: center;
}

.team__description{
  display: flex;
  align-items: center;
  text-align: center;
  
}

.member-description{
  margin: 40px;
}

.picture{
  width: 250px;
  transition: 1s;
  border-radius: 25px;
}

.picture:hover{
  width: 300px;

}

.contacto{
  color: gray;
}

.member-description > a{
  color: gray;
  transition: 0.5s;
}

.member-description > a:hover{
  color: darkblue ;
  font-size: 20px;
}

/*
////////////
Footer
////////////
*/


.footer{
  display: flex;
}

.content-footer > h2{
  font-size: 17px;
}

.contacto{
  margin: 30px;
}

.content-footer{
  width: 50%;
  margin: 40px;
  line-height: 30px;
  text-align: center;
}

.content-footer> a{
  color: gray;
  transition: 0.5s;
}

.content-footer > a:hover{
  color: darkblue ;
  font-size: 20px;
}